<main class="text-center" ng-controller="AddModelCtrl">
<form class="form-signin col-md-8 col-md-offset-2 col-xs-12  col-lg-6 col-lg-offset-3 mx-auto" ng-submit="upload(addForm)">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Añadir modelo</h1>
        <p>Usa este formulario para cargar un nuevo modelo a la base de datos</p>
    </div>
    <div class="form-label-group text-left mb-3">
        <label for="inputName">Nombre <span class="text-muted font-weight-light">(Alfanumérico, entre 3 y 32 caracteres)</span></label>
        <input type="text" id="inputName" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="addForm.name" pattern="[A-Za-z0-9 ]+" minlength="3" maxlength="32">
    </div>

    <div class="form-label-group text-left mb-3">
        <label for="inputModel">Archivo de modelo 3D</label>
        <input type="file" id="inputModel" class="form-control" placeholder="Ruta del archivo" required="" accept=".obj" fileread="addForm.obj">
    </div>

    <div class="form-label-group text-left mb-3">
        <label for="inputMaterial">Archivo de materiales <span class="text-muted font-weight-light">(Opcional)</span></label>
        <input type="file" id="inputMaterial" class="form-control" placeholder="Ruta del archivo" accept=".mtl" fileread="addForm.mtl">
        <p ng-if="addForm.mtl" class="alert alert-info my-1" role="alert">¡Aviso! Este visor solo es compatible con archivos .mtl con todos los recursos incrustados.</p>
    </div>
    <div ng-if="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="uploading"><span ng-if="uploading">Subiendo...</span><span ng-if="!uploading">Subir</span></button>
</form>
</main>